* {
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  padding: auto;
  margin: 0;
}

.container {
  padding-left: 20px;
}

.main-body {
  height: 100%;
  width: 100%;
}
.main-body-wrapper {
  display: grid;
  grid-auto-flow: column;
}
